.order-container {
  background-color: #db3352;
  border-radius: 10px;
  color: #fff;
  height: 80vh;
  margin: 1rem;
  max-width: 50vw;
  padding: 20px 10px;
}

.order-container ul {
  overflow:hidden;
  overflow-y:scroll;
  height: 95%;
}

.order-container ul::-webkit-scrollbar { 
  display: none; 
}