@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* @media (min-width:320px)
@media (min-width:480px) 
@media (min-width:600px) 
@media (min-width:801px) 
@media (min-width:1025px) 
@media (min-width:1281px)  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  margin: 1rem;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

button {
  background-color: transparent;
  cursor: pointer;
}